<section class="w-75 mx-auto p-4 bg-main-light p-1 rounded-3 my-2">
    <div class="d-flex justify-content-between align-content-center">
   <div> <h1> Shop Cart</h1>
    <p>Totle Price:<span class="text-main">{{cartItems.totalCartPrice}}</span></p></div>
<div>
  
    <button [routerLink]="['/checkout', cartItems._id]" class="btn btn-primary p-2 ">check out <img src="./assets/images/visa-1.svg" ></button>
</div>
</div>
    <div class="row border-bottom pb-2" *ngFor="let item of cartItems.products">
        <div class="col-md-2 my-5">
            <img class="w-100" [src]="item.product.imageCover">
            
        </div>
        <div class="col-md-10">
           <div class="d-flex justify-content-between align-content-center">
            <div class="texttt">
                <h3 class="h5">{{item.product.title}}</h3>
                <p class="m-0 p-0"> {{item.price|currency:' EGP '}}</p>
        
                <button (click)="removeCart(item.product._id)" class="text-danger border border-0 btn m-0 p-0"><i class="fa-solid fa-trash"></i> Remove</button> 
            </div>
       
           
        <div class="my-5 pt-5">
            <button  (click)="CangeCount(item.product._id , item.count + 1)" class="btn border border-success">+</button>
            <span> {{item.count}} </span>
            <button  (click)="CangeCount(item.product._id , item.count - 1) "class="btn border border-success">-</button>
        </div>
    </div>
  
    </div>
    </div>
    <button  (click)="RemoveCart()" class=" bttt btn border mx-auto d-block mt-4 border-success rounded-3"[routerLink]="['/home']">Clear Your Cart</button>
</section>
