<nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand"routerLink="home">
          <img src="./assets/images/freshcart-logo.svg" class="w-100 ps-5">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav  mb-2 mb-lg-0 ms-auto">
          <li class="nav-item">
        <li class="nav-item ">
          <a class="nav-link text-capitalize" routerLink="home" routerLinkActive="active-link">home</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link text-capitalize" routerLink="cart" routerLinkActive="active-link">cart</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-capitalize" routerLink="whishlista" routerLinkActive="active-link">wish list</a>
        </li>
        <li class="nav-item">
        <a class="nav-link text-capitalize" routerLink="products" routerLinkActive="active-link">products</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-capitalize" routerLink="categories" routerLinkActive="active-link">categories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-capitalize" routerLink="brands" routerLinkActive="active-link">brands</a>
      </li>
      
      </ul>
      <ul class="navbar-nav ms-auto mb-lg-0">
       
        <li class="nav-item position-relative ps-3">
          <a class="nav-link"><i class="fa-solid fa-cart-shopping fs-3 cursor-pointer" [routerLink]="['/cart']"></i>
            <span class=" badge bg-success position-absolute top-0 end-0 ">{{cartnum}}</span>
          </a>
        </li>
      
        <!-- <li class="nav-item">
            <a class="nav-link"><i class="fa-brands fa-facebook"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fa-brands fa-tiktok"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fa-brands fa-twitter"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fa-brands fa-linkedin"></i></a>
          </li>
          <li class="nav-item">
            <a class="nav-link"><i class="fa-brands fa-youtube"></i></a>
          </li> -->
          <li class="nav-item me-5">
            <span class="nav-link cursor-pointer"(click)="logoutuser()">Log out</span>
          </li>
    </ul>
    
</div>
    </div>
</nav>
  